*{
    margin:0;
    padding:0;
    font-family: "Avenir", sans-serif;
}

body{
    background: #232323;
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container{
    max-width: 600px;
    margin: 0 auto;
}

h1{
    color: #f5f3f5;
    text-align: center;
    background: steelblue;
    margin: 0;
}

/* span{
    color: white;
} */

#stripe{
    text-align: center;
    background: white;
    height:30px;
    color: #000;
}

.selected{
    background: purple;
}